MYSQL_DATABASE=apboa_next
MYSQL_USER=apboa
MYSQL_PASSWORD=replace-me
MYSQL_ROOT_PASSWORD=replace-me
REDIS_PASSWORD=replace-me
REDIS_DATABASE=7
JWT_SECRET=replace-me
PUBLIC_BIND_ADDRESS=127.0.0.1
PUBLIC_PORT=80
DEFAULT_TENANT_ID=1
